link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/bootstrap.css')
link(rel='stylesheet', href='/stylesheets/additions.css')

body.player-profile-body
 nav.navbar.navbar-inverse.player-profile
  div
   div.navbar-header
    a(href='#') username

   ul.nav.navbar-nav.navbar-right
    li.active.log-out
     a(href="#") logout


 div#content-container
  div#inner-container
   div#left-content
    div#scroll-player-tabs
     

     div.player-tab.active-tab.tab-1
      img(src="#")
      p player info here 

     div.player-tab
      img(src="#")
      p player info here  

     div.player-tab
      img(src="#")
      p player info here 

     div.player-tab
      img(src="#")
      p player info here

     div.player-tab
      img(src="#")
      p player info here 

     div.player-tab
      img(src="#")
      p player info here  

     div.player-tab
      img(src="#")
      p player info here 

     div.player-tab
      img(src="#")
      p player info here                   

   div#right-content
    div#graph
    player data here
