doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/additions.css')
  body#reg
    div.container
     div.row
      div.reg-container
       hr#hr-top
       center
        h1.reg-header. REGISTER CLUB
       hr#hr-bottom 
       
      