doctype html
html
 head
  title= pageTitle 
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/additions2.css')

 body.player-profile-body
  nav.navbar.navbar-inverse.player-profile
   div
    div.navbar-header
     img(src="images/cardiopro_small.png", id="logo_small")
     h1 Welcome #{uName} keith
   
    ul.nav.navbar-nav.navbar-right
     li.active.log-out
      a(href="/logout") Logout


  div.row
   div.col-lg-12
    select.dropdown
     option 
      value team names here
     

